.headLine {
  padding-top: 20px;
  text-align: center;
}

.menu-lateral {
  display: inline-flex;
  background-color: #f1f1f1;
  height: 100%;
  width: 250px;
  top: 60px; /* Considere a altura da barra de navegação */
  left: 0; /* Novo */
}
.menu-lateral p {
  padding-top: 10px;
  text-align: center;
}
.menu-lateral li {
  margin-bottom: 10px;
}

.main-cointainer {
  align-items: center;
  margin-left: 300px;
  display: inline-flex;
}

.footer {
  align-items: center;
  margin-top: 50px;
}

.movie-container iframe {
  margin-left: 30px;
}
